altair
attrs
blinker
cachetools
certifi
cffi
charset-normalizer
click
contourpy
cryptography
cycler
et_xmlfile
fonttools
gitdb
GitPython
idna
importlib_resources
Jinja2
jsonschema
jsonschema-specifications
kiwisolver
MarkupSafe
matplotlib
msal
narwhals
numpy
Office365-REST-Python-Client
openpyxl
packaging
pandas
pillow
plotly
protobuf
pyarrow
pycparser
pydeck
PyJWT
pyparsing
python-dateutil
pytz
referencing
requests
rpds-py
six
smmap
streamlit
tenacity
toml
tornado
typing_extensions
tzdata
urllib3
zipp
